<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <h1>Speak up, Toronto!</h1>
    <p>Every week, there are dozens of opportunities to speak to City Hall, influencing issues that you care about.<p>
    <p>Now, you can easily speak to City Council from anywhere, by submitting a short video.</p>
    <p>No more long drives. No more inconvenient mid-day time slots. Feel free to wear your pajamas.</p>
    <p><a class="btn btn-primary btn-lg" href="/submit" role="button">Submit A Video &raquo;</a> <a class="btn btn-lg" href="/volunteer" role="button">Volunteer &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Speak to City Council</h2>
      <p>Submit a pre-recorded video. You'll have 2 minutes to speak about an upcoming agenda item. We'll make sure that your politicians see it in committee session before making a decision.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Register to present a video</h2>
      <p>We'll contact you when someone needs your help in having their voice heard by City Hall. You'll decide which videos you present to Council. It's low pressure, and you'll be under no obligations until you decide to adopt one.</p>
      <p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>
   </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2016 Civic Tech Toronto</p>
  </footer>
</div> <!-- /container -->
